@use "../tokens/config" as *;
@use "../tokens/variables" as *;

.cp-get-in-touch {
  width: 100%;
  .container {
    width: 53%;
    margin: 0 0 0 auto;
    padding-right: 4rem;
    @media only screen and (max-width: $media-mobile) {
      width: 100%;
      margin: 0;
      padding-right: 2.4rem;
    }
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1.2rem;
    @media only screen and (max-width: $media-mobile) {
      margin-top: 3rem;
    }
    .field-wrapper {
      width: 48%;
      margin-bottom: 1.2rem;
      @media only screen and (max-width: $media-mobile) {
        width: 100%;
      }
      &.typ-full-width {
        width: 100%;
      }
    }
    .input-field {
      width: 100%;
      padding: 1.8rem 2rem;
      background-color: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(4px);
      border: 1px solid $clr-root;
      letter-spacing: 0.7px;
      font-size: 1.6rem;
      line-height: 1.6rem;
      border-radius: 1.4rem;
      color: $clr-root;
      @media only screen and (max-width: $media-mobile) {
        padding: 1.3rem 1.5rem;
        font-size: 1.4rem;
        line-height: 1.6rem;
      }
      &::placeholder {
        color: $clr-root;
        opacity: 1;
      }
    }
  }
}

.error {
  color: red;
}
