@use "../tokens/config" as *;
@use "../tokens/variables" as *;

.cp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 7.2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $clr-root;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 8rem;
  z-index: 1000;
  @media only screen and (max-width: $media-mobile) {
    justify-content: center;
    min-height: 5rem;
    padding: 2rem;
  }
  .logo {
    img {
      height: 100%;
    }
    @media only screen and (max-width: $media-mobile) {
      max-width: 14rem;
    }
  }
  .navigation {
    display: flex;
    align-items: center;
    @media only screen and (max-width: $media-mobile) {
      display: none;
    }
    .nav-list {
      display: flex;
      gap: 3.2rem;
      .nav-item {
        .nav-link {
          font-family: $font-bold;
          font-size: 1.6rem;
          line-height: 2rem;
          color: $clr-txt-clr;
          text-decoration: none;
          transition: color 0.3s ease;
          font-weight: 700;
          &:hover {
            color: $clr-primary;
          }
        }
      }
    }
  }
}
