/* colors */

$clr-root: #ffffff;
$clr-base: #000000;
$clr-primary: #022581;
$clr-secondary: #2c2e3f;
$clr-txt-clr: #1E1F23;
$clr-title: #111111;
$clr-desc: #555555;
/*font family*/
$font-light: 'PlusJakartaSans-Light'; //300
$font-regular: 'PlusJakartaSans-Regular'; //400
$font-medium: 'PlusJakartaSans-Medium'; //500
$font-bold: 'PlusJakartaSans-Bold'; //700
$font-semiBold: 'PlusJakartaSans-SemiBold'; //600

/* breakpoints */
$media-mobile: 768px;
$media-xl: 1600px;
