@use "../tokens" as *;

.bs-swiper {
  position: relative;
  .swiper-wrapper{
    padding-bottom: 6rem;
  }
  
  .swiper-pagination {
    z-index: 6 !important;
  }
  .swiper-button-next,
  .swiper-button-prev{
    svg{
      display: none !important;
    }
    &::before{
      content:'\e90d';
      font-family: 'icomoon';
      color: $clr-primary;
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
  .swiper-button-next{
    bottom: 0 !important;
    top: auto !important;
  }
  .swiper-button-prev{
    bottom: 0 !important;
    top: auto !important;
    transform: rotate(180deg);
    right: 7rem !important;
    left: auto !important;
  }
  &.typ-services{

  }
}